<div *ngIf="loggedIn; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <!-- logged in -->
  <button nz-button nz-popover nzType="text" [nzPopoverTitle]="user.first_name+' '+user.last_name"
    [nzPopoverContent]="user.username">
    <i nz-icon nzType="user" nzTheme="outline"></i>
  </button>
  <button nz-button [nzType]="'default'" class="mx-2" (click)="logoutHandler()"><span>Logout</span></button>
</ng-template>

<ng-template #elseBlock>
  <!-- not logged in  -->
  <button nz-button [nzType]="'default'" (click)="showModal()"><span>Login</span></button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Login" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
      <input nz-input placeholder="Username" class="w-100 m-1 py-1" [(ngModel)]="username" />
      <br>
      <input nz-input placeholder="Password" type="password" class="w-100 m-1 py-1" [(ngModel)]="password" />
    </ng-container>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="submitHandler()" [nzLoading]="isConfirmLoading">Login</button>
    </ng-template>
  </nz-modal>

</ng-template>