
<!-- not logged in  -->
<button nz-button [nzType]="'default'" *ngIf="!loggedIn;" class="mx-2" (click)="showModal()"><span>Register</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Register" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
    <input nz-input placeholder="First Name" class="w-100 m-1 py-1" [(ngModel)]="first" />
    <br>
    <input nz-input placeholder="Last Name" class="w-100 m-1 py-1" [(ngModel)]="last" />
    <br>
    <input nz-input placeholder="Username" class="w-100 m-1 py-1" [(ngModel)]="username" />
    <br>
    <input nz-input placeholder="Password" type="password" class="w-100 m-1 py-1" [(ngModel)]="password" />
    </ng-container>
    <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitHandler()" [nzLoading]="isConfirmLoading">Register</button>
    </ng-template>
</nz-modal>