<div class="light-bg py-5 full-page">
    <div class="container py-5">
        <div class="row my-5">
            <div class="col-md-5 col-12 py-5">
                <p class="h2">Writing made easier.</p>
                <p class="py-3">
                    The writing app that writers choose to draft, edit and organize their work.
                </p>
                <button class="btn-info btn-large py-2 rounded btn-block" (click)="getStartedHandler()">Get Started</button>
            </div>
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-6 col-12">
                <img class="img-fluid rounded" src="/assets/app_shot.png"/>
            </div>
        </div>
    </div>
</div>

<!-- app_shot.png -->