<div class="light-bg box-height">
    <mat-card class="" style="margin: 0 auto;width: 30%;">
        <div class="bg-white p-5" style="margin-top: 20%;">
            <p class="h5">Login</p>
            <input nz-input placeholder="Username" class="w-100 my-2 py-1" [(ngModel)]="username" />
            <br>
            <input nz-input placeholder="Password" type="password" class="w-100 my-2 py-1" [(ngModel)]="password" />
            <br>
            <button nz-button class="btn btn-primary btn-block my-2" type="submit"
                (click)="submitHandler()" [nzLoading]="isConfirmLoading">Login</button>
            <div class="my-3 row">
                <div class="col-9">
                    <label nz-checkbox [(ngModel)]="checkbox"> Remember me</label>
                </div>
                <div class="col-3">
                    <a class="link-primary" href="/register">Register</a>
                </div>
            </div>
        </div>
    </mat-card>
</div>