<div class="white-background">
    <ng-template [ngIf]="previewBool" [ngIfElse]="sectionView">
        <div [innerHTML]="preview"></div>
    </ng-template>

    <ng-template #sectionView>
        <div *ngIf="!edittingEnabled">
            <span class="h5">{{data.name}}</span>
            <button nz-button nzType="link" (click)="enableEditting()">
                <span>
                    edit
                </span>
            </button>
            <div [innerHTML]="data.data" class="pt-4"></div>
        </div>

        <div *ngIf="edittingEnabled">
            <input nz-input placeholder="Title" type="text" class="w-100 my-2 py-1" [(ngModel)]="name" />
            <ejs-richtexteditor id='editorSection' class="mb-2" [toolbarSettings]='tools' [innerHTML]="html" #editorSection></ejs-richtexteditor>
            <button nz-button [nzType]="'primary'" (click)="saveSection(false)">save</button>
            <button nz-button [nzType]="'primary'" class="mx-2" (click)="saveSection(true)">save & preview</button>
            <button nz-button [nzType]="'default'" nz-popconfirm nzPopconfirmTitle="Are you sure discard the changes?"nzPopconfirmPlacement="bottom" (nzOnConfirm)="discardChanges()">discard</button>
        </div>
    </ng-template>
</div>