mdb-navbar {
    box-shadow: none;
}

.navbar {
    box-shadow: none !important; 
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-logo {
    position: relative;
    height: 32px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 32px;
    transition: all .3s;
  }
  
  .sidebar-logo img {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 5px;
    color: rgb(17, 16, 16);
    font-weight: 600;
    font-size: 16px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }